@model IEnumerable<AutokeyRPC.Models.RPC_FotoXTelaio>

@{
    ViewBag.Title = "Images";
}

<h2>Images</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NomeFile)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InsertDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RPC_Telai.IDOperatore)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NomeFile)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InsertDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RPC_Telai.IDOperatore)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
